# Copy this file to .env and fill in your key
# cp .env.template .env

OPENAI_API_KEY = your_key_here

# If you are using an OpenAI compatible inference provider
# other than OpenAI, uncomment and add the URL here:
# OPENAI_BASE_URL = provider_url_here